{% extends "shop/index.html" %}

{% block content %}
<div class="card">
    {% include "shop/includes/img.html" %}
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.info}}</p>
        <p class="card-text">{{product.price}}</p> 
        {% include "shop/includes/categories.html" %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#order">
            Buy now
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{product.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save_order" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="user_name" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="user_name" name="user_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="user_email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" required
                            name="user_email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                        </div>
                    </div>
                    <input type="hidden" value={{product.id}} readonly name="product_id">
                    <button type="submit" class="btn btn-primary">Order</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}